body{
    background-color: rgb(163, 247, 37);
}


p{
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 0;

}


canvas{
    display: block;
    position: absolute;
    border: 2px solid green;
    margin: 0 auto;
    margin-left: 40%; 

    width: 350px;
}
/*
#game-canvas{
    border: 1.5px solid blue;

    opacity: 0;
    display: none;
}



img{
    display: none;
}
*/